<h1>Carritos</h1>
 <a href="/" class="home-link" style="margin-top: 10px;">Volver al Inicio</a>
{{#each carts}}
    <div>
        <h2>Carrito {{this._id}}</h2>
        {{#if this.products.length}}
            <ul>
                {{#each this.products}}
                    <li>
                        Producto: {{this.title}} -
                        Cantidad: {{this.quantity}}
                    </li>
                {{/each}}
            </ul>
            <form method="post" action="/carts/{{this._id}}">
                <input type="submit" value="Actualizar Carrito">
            </form>
            <form method="post" action="/carts/{{this._id}}/remove">
                <input type="submit" value="Eliminar Carrito">
            </form>
        {{else}}
            <p>El carrito está vacío</p>
            <script>console.log(this.products)</script>
        {{/if}}
    </div>
{{/each}}


