<h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>

<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>ID: {{user._id}}</p>
<p>Rol: {{user.role}}</p>

<a href="/" class="home-link">Volver al Inicio</a>
<a href="/api/sessions/logout">Logout</a>
